.gradient {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, #111111 0%, #000000 90%);
  }

  .cardBody {
    right: -100% ;
    backdrop-filter: blur(5px);
    transition: 1s;
  }

  .header {
    bottom: 0;
    backdrop-filter: blur(5px);
    transition: 1s;
  }

  .card {

  }
  .card:hover .cardBody {
    right:0;
  }

  .card:hover .header {
    bottom: -100% ;
  }

  .textGradient {
    font-size: 72px;
    background: -webkit-linear-gradient(hsl(280,100%,70%), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .gradientBg {
    background: rgb(0,0,0);
background: linear-gradient(169deg, rgba(0,0,0,1) 72%, rgba(128,0,128,1) 100%);
  }